.nav-container {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  /* border-top: 2mm ridge rgba(173, 93, 130, 0.6); */

}
.logo {
  font-size: 1.5rem;
  width: 100px;
  display: flex;
  justify-content: center;
  padding: 5px 30px;
  border-radius: 5px;
}
.logo:hover {
  box-shadow: 10px 9px 8px -2px rgba(0, 0, 0, 0.47);
  border: 1px solid rgba(177, 177, 177, 0.316);
  background-color: rgba(177, 177, 177, 0.316);
}
.menus {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-top: 20px;
  /* background-color: blue; */
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  /* background-color: red; */
  /* color:red; */
}
.menu:hover {
  font-size: 1.17rem;
  transition: all 0.5s ease;
  /* transition: 0.3s ease-out; */

  /* color: #fc5f5f; */
}
.hamburger-icon {
  position: fixed;
  right: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}
.academic {
  display: none;
}
@media screen and (max-width: 768px) {
  .menus {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    grid-gap: 10px;
    justify-content: center;
    padding: 30px 0;
  }
  .menus.active {
    background: rgb(87, 85, 85);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .menu {
    height: 50px;
    width: 100%;
  }
  .menu:hover {
    height: 49px;
    background-color: #999d;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-out;
  }
  .academic {
    display: inline;
  }
}
