.p-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 80px;
}

/* -----description section */
.p-desc-cont {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  padding: 100px 0;
}
.p-img-wrap {
  flex: 1;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(26, 23, 23);
}
.p-img-wrap > img {
  width: 100%;
}
.p-details-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* detail-1st-div */
.p-title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
/* detail-2nd-div */
.p-details {
  padding: 0 0 0 15px;
}
.p-details > li {
  font-size: 16px;
  margin-bottom: 7px;
}
#p-bold-text {
  font-weight: 600;
}
/* detail-3rd-div */
.p-btn-wrap {
  margin: -5px 0;
}

/* -----demo section */
.p-demo-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(227, 226, 226);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}
.p-demo-video {
  width: 75%;
  right: 10;
}
video {
  width: 100%;
  max-height: 700px;
}
.p-section-title {
  font-size: 1.5rem;
  padding: 0 0 30px;
}

/* -----code section */
.p-code-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.p-code-img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-code-img-wrap > img {
  width: 75%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-desc-cont {
    display: flex;
    flex-direction: column;
  }
  .p-title {
    font-size: 1.5rem;
  }
  .p-details > li {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
}
