.h-section-title {
  font-size: 30px;
  padding: 20px 0 50px;
}
.h-container {
  /* background-color: pink; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 80px;
  /* background-image: url('../../../public/images/walk1.png'); */
}
.h-intro-bg {
  width: 100%;
  height: 700px;
  position: fixed;
  top: 0;
  background-image: url("../../../public/images/sky.jpg");
  /* background-size: cover; */
  z-index: -10;
}
/* .btnt {
  font-size: 10px;
  background-color: red;
} */
/* .mainText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
} */

/* intro section */
.h-intro-section {
  /* background-color: blanchedalmond; */
  /* border-top: 4mm ridge rgba(173, 93, 130, 0.6); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 130px 0;
}
.h-intro-text {
  font-size: 56px;
  /* padding: 20px 0 50px; */
}
.h-intro-sub-text {
  margin: -10px 0 140px;

  /* font-size:56px; */
  /* padding: 20px 0 50px; */
}
.p-intro-btn-wrap {
  /* background-color:cornsilk; */
  width: 330px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* width: 20%; */
  /* margin-top: 20px; */
  button {
    background-color: black;
    border: 1px solid black;
    &:hover {
      background-color: rgb(239, 193, 193);
    }
  }
}

/* about section */
.h-about-section {
  background-color: rgb(227, 226, 226);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 0;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}
.h-project-section {
  /* background-color: rgb(216, 124, 124); */
  /* border-bottom: 4mm ridge rgba(173, 93, 130, 0.6); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 0;
  background-color: white;
}

/* 
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}




.mainImgCont {
  flex: 1.4;
  height: auto;
  max-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 70%;
  max-width: 700px;
  min-width: 300px;
  max-height: auto;
  padding: 50px;
}



.blink {
  animation: blinker 1s linear infinite;
  color: pink;
  font-size: 2.5rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.myname {
  font-size: 50px;
}

.projectInfo {
  font-size: 25px;
}


Button {
  margin-top: 10px;
  width: 150px;
}


.aboutCont {
  width: 70%;
  display: flex;
}

.aboutImgCont {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.aboutImg {
  width: 70%;
  max-width: 700px;
  min-width: 250px;
  padding: 20px;
}

.aboutInfoCont {
  flex: 1;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.aboutInfoCont > li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 10px 0;
}

hr {
  margin: 0 30px;
  size: 400;
  width: 1;
} */

/* 
@media screen and (max-width: 768px) {
  .tabletImg {
    width: 50%;
    padding: 20px 0;
  }

  .text_section {
    padding-left: 30px;
  }

  .myname {
    font-size: 30px;
  }

  .projectInfo {
    font-size: 15px;
  }

  .btn {
    width: 130px;
    font-size: 15px;
  }

  .about-section {
    height: 100%;
    padding: 60px 0;
  }

  .aboutCont {
    flex-direction: column;
  }

  .aboutInfoCont > li {
    font-size: 12px;
  }

  hr {
    display: none;
  }

  .h-section-title {
    font-size: 20px;
    padding: 0 0 10px;
  }

  .aboutImgCont {
    width: 70%;
  }

  .aboutCont {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 960px) {
  .btn {
    width: 120px;
    font-size: 15px;
  }
  .text_section {
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}
@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}
@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
} */
